/* General CSS */
body{
    margin-top: 80px;
    padding: 20px;
    font-family: Lato;
}

@media (min-width: 768px) {
    h1 {
        letter-spacing: 3px;
        font-weight: bolder;
    }
}
.panel-heading{
    background-color: black !important;
}

.padding-0 {
    padding: 0px;
}

.padding-l0-r0 {
    padding-left:0;
    padding-right:0;
}

.padding-l15-r15 {
    padding-left:15px;
    padding-right:15px;
}

.add--15-margin {
    margin-left:-15px;
    margin-right:-15px;
}

#line-break{
    margin-top: 0px;
    margin-bottom: 10px;
}

/*  General Edit Modal CSS */
/* Fixed overlay on modal */
.modal-dialog {
    z-index: 1040 !important;
}

.panel-title {
    font-size: 20px; 
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
}
.data-tabs {
    font-size: 18px;
    padding-left:0;
    padding-right:0;
    margin-left: 0 !important;
}

.nav-pills li.active a:focus, .nav-pills li.active a:active{
    background-color:black !important;
    color: #FF1493 !important;
}
.nav-pills li.active a{
    background-color:black !important;
    color: white !important;
}
.nav-pills li a{
    color: black !important;

}